.navi-bar{
  width: 100%;
  background-color: #222;
  color: white;
  height: 60px;
}

.supress-link-style{
  text-decoration: none;
  color: white;
}
.inline{
  padding-left:30px;
  padding-right:30px;
  line-height: 60px;
  font-size: 16px;
  display: inline-block;
}
.link{
  cursor: pointer;
}
.blue{
  color: blue;
}
.tableLeft{
  text-align: left;
}

.centerO{
  width: 100%;
  text-align: center;
}
.centerI{
  display: inline-block;
}
.red{
  color: red;
}

.green{
  color: green;
}
.size{
  font-size: 20px;
}
